@import "tailwindcss";

.main-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1300px;
}